DATABASE_URL='mysql://{{ item.1.mysql.user.passport }}:{{ item.1.mysql.password.passport }}@webdocker-mysql-ap-backend-{{ item.1.name }}-1:3306/{{ item.1.mysql.database.passport }}'

VERIFICATION_PORTAL_HOST={{ item.1.frontend.verify_url }}

GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET=

EWZ_RECAPTCHA_SITE_KEY=
EWZ_RECAPTCHA_SECRET=

CORS_ALLOW_ORIGIN=*

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private_dev.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public_dev.pem
JWT_PASSPHRASE=qwerty
JWT_TOKEN_TTL=3600