# DB CONNECTIONS sections
DATABASE_URL='mysql://{{ item.1.mysql.user.publisher }}:{{ item.1.mysql.password.publisher }}@webdocker-mysql-{{ item.0.name }}-{{ item.1.name }}-1:{{ item.1.mysql.port.publisher }}/{{ item.1.mysql.database.publisher }}'

VERIFICATION_PORTAL_HOST={{ item.1.frontend.verify_url }}

DATABASE_VERIFICATION_URL='mysql://{{ item.1.mysql.user.verify }}:{{ item.1.mysql.password.verify }}@{{ item.1.frontend.verify_url }}:{{ item.1.mysql.port.verify }}/{{ item.1.mysql.database.verify }}'
DATABASE_PASSPORT_URL='mysql://{{ item.1.mysql.user.passport }}:{{ item.1.mysql.password.passport }}@{{ item.1.frontend.passport_url }}:{{ item.1.mysql.port.passport }}/{{ item.1.mysql.database.passport }}'

#RABBIT MQ SECTION
RABBITMQ_HOST=webdocker-rabbitmq-{{ item.0.name }}-{{ item.1.name }}-1
RABBITMQ_USER={{ item.1.rabbitmq.user }}
RABBITMQ_PASSWORD={{ item.1.rabbitmq.password }}
RABBITMQ_ISSUANCE_DELAY={{ item.1.rabbitmq.delay }}

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=*
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=c97b5f3939af59af463ae176e2322b13bf842bf117c1875e58c36d31537b4f7f
JWT_TTL=3600
JWT_REFRESH_TTL=7200
###< lexik/jwt-authentication-bundle ###