DATABASE_URL='mysql://{{ item.1.mysql.user.verify }}:{{ item.1.mysql.password.verify }}@webdocker-mysql-{{ item.0.name }}-{{ item.1.name }}-1:3306/{{ item.1.mysql.database.verify }}'
PUBLISHER_HOST={{ item.1.frontend.publisher_url }}

OPENBADGES_BINARY=/usr/local/bin/openbadges