; This file was initially adapated from the output of: (on PHP 5.6)
;   grep -vE '^;|^ *$' /usr/local/etc/php-fpm.conf.default

[global]

error_log = /proc/self/fd/2
daemonize = no

[www]

; if we send this to /proc/self/fd/1, it never appears
access.log = /proc/self/fd/2

; this does the trick for changing the user
user = user
group = user

listen = [::]:{{ item.1.backend.port }}

pm = dynamic
pm.max_children = 80
pm.start_servers = 4
pm.min_spare_servers = 4
pm.max_spare_servers = 8

clear_env = no

; Ensure worker stdout and stderr are sent to the main error log.
catch_workers_output = yes