FROM rabbitmq:3.8.5

RUN apt-get update \
  && apt-get install -y wget \
  && rm -rf /var/lib/apt/lists/*
  
RUN wget \
  -O \
  /opt/rabbitmq/plugins/rabbitmq_delayed_message_exchange.ez \
  https://github.com/rabbitmq/rabbitmq-delayed-message-exchange/releases/download/3.8.17/rabbitmq_delayed_message_exchange-3.8.17.8f537ac.ez \
  && \
  rabbitmq-plugins enable --offline rabbitmq_management \
  && \
  rabbitmq-plugins enable rabbitmq_delayed_message_exchange

EXPOSE 15671 15672 5672