###> environment ###
ENVIRONMENT_ENVIRONMENT={{ item.1.frontend.env }}
ENVIRONMENT_DEBUG=true
ENVIRONMENT_SSH_IDENTITY_FILE=~/.ssh/deploy.pem
ENVIRONMENT_USER={{ app_uid }}:{{ app_uid }}
###< environment ###

ENVIRONMENT_PROJECT_NAME={{ (item.0.name == 'passport') | ternary('ap-frontend', 'frontend-' + item.0.name) }}-{{ item.1.name }}

ENVIRONMENT_PUBLISHER_PORT={{ item.1.frontend.port.publisher }}
ENVIRONMENT_PASSPORT_PORT={{ item.1.frontend.port.passport }}

PUBLISHER_API_HOST={{ item.1.backend.publisher_url }}
ACADEMIC_PASSPORT_API_HOST={{ item.1.backend.passport_url }}
VERIFICATION_PORTAL_API_HOST={{ item.1.backend.verify_url }}

PUBLISHER_API_URL=https://{{ item.1.backend.publisher_url }}/
ACADEMIC_PASSPORT_API_URL=https://{{ item.1.backend.passport_url }}/api/
VERIFICATION_PORTAL_API_URL=https://{{ item.1.backend.verify_url }}/app_dev.php/api/

ACADEMIC_PASSPORT_FRONTEND_URL=https://{{ item.1.frontend.passport_url }}
VERIFICATION_PORTAL_FRONTEND_URL=https://{{ item.1.frontend.verify_url }}

ACADEMIC_PASSPORT_OAUTH_REDIRECT_URL=https://{{ item.1.backend.passport_url }}

RECAPTCHA_KEY={{ item.1.parameters.recaptcha_key }}
USE_RTL={{ item.1.parameters.use_rtl }}

PUBLISHER_PLAIN_LOGIN={{ item.1.parameters.login.plain.publisher }}
ACADEMIC_PASSPORT_PLAIN_LOGIN={{ item.1.parameters.login.plain.passport }}

PUBLISHER_SSO_LOGIN={{ item.1.parameters.login.sso.publisher }}
ACADEMIC_PASSPORT_SSO_LOGIN={{ item.1.parameters.login.sso.passport }}

PUBLISHER_GA_TOKEN_ID={{ item.1.parameters.ga_token_id.publisher }}
ACADEMIC_PASSPORT_GA_TOKEN_ID={{ item.1.parameters.ga_token_id.passport }}
VERIFICATION_PORTAL_GA_TOKEN_ID={{ item.1.parameters.ga_token_id.verify }}

HIDE_BADGES={{ item.1.parameters.hide_badges }}